.error
{
	border: 2px solid #990000;
	padding:10px;
	background-color:#F1F1D4;
}

.error h2
{
	font-size:18px;
	padding-bottom:5px;
	margin-bottom:5px;
	border-bottom:2px solid #990000;
	color:#990000;
}

.error ul li
{
	list-style-type:disc;
}